p{
    column-count: 3;
    column-gap: 40px;
    column-rule-style: dotted;
    column-rule-color: red;
    column-rule-width: 2px;
}
p::selection{
    background-color: rgb(39, 182, 96);
    color: white;
}
h1{
    text-align: center;
    color:aqua

}

h1:hover{
    color:rgb(39, 182, 96);
}