.cuadrado {
  width: 100px;
  height: 100px;
  background-color: red;
}

.circulo {
  height: 20px;
  width: 20px;
  background-color: #05fc57;
  border-radius: 50%;
  text-align: center;
}

.uno {
  position: absolute;
  top: 0px;
  left: 0px;
}

.dos {
  position: absolute;
  top: 0px;
  left: 100px;
}

.tres {
  position: absolute;
  top: 100px;
  left: 0px;
}

.cuatro {
  position: absolute;
  top: 100px;
  left: 100px;
}


div {
  border: 2px solid black;
}
