/*Fotos pero molt millorable*/
.logomenu{
max-width: 20px;
max-height: 20px;
}

.logoweb{
    max-width:200px;
    height: auto;
}
/*Generals de la web*/

body{
    margin:0px;
}

.grid{
    display:grid;
}

h2{
    color:orange;
}

strong{
    font-style: bold;
}
/*Header amb les fotos*/

li {
    list-style-type:none;
}

.headerlogos {
    grid-template-columns:2fr 1fr 1fr;
    max-width:400px;
    align-items:center;
    column-gap:20px;    

}

/* Grid principal es barra busqueda i aqui tots els elements*/
.barrabusqueda{
    margin-left:10px;
    justify-content:center;
    grid-template-columns:auto auto auto;
    column-gap:4px;
    
}
.huecobusqueda{
    max-width:500px;
}
.labelbusqueda{
    max-width: fit-content;
}

.goBTN {
    max-width: fit-content;
    background-color: gray;
    color:white;
    border-radius:10px;
    cursor: pointer;
}

/*Navegador*/



.nav-subnav-item {
    padding:0px;
    margin:0px;
    display:inline;
}

#talentosnav{
    background-color:rgb(165, 156, 156);
    padding:0px;
    margin:0px;

}

.talentos{
    margin:1px;
    padding:1px;
}


/*sLIDE FOTOS*/

#slider{
    margin: 0 auto;
    width: 400px;
    height: 400px;
    overflow:hidden;
    background-color: black;
}
/*Valores de las imagenes*/
#slider img{
    margin: 0 auto;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    width: 400px;
    height: 400px;
    position: absolute;
    opacity: 0;
}
/*Para que la primera imagen este activa al inicio*/
#slider img:nth-child(1){
    opacity: 1;
}

/*Apartat producto*/
.producto {
    grid-template-columns: 2fr 4fr 1fr;
}

#h1producto{ 
margin:0;
padding:0;}

#h3producto {
    margin:0;
    padding:0;
}
#disponible{
    font-style: bold;
    color:blue;

}

/*Botones */
.botoneria{
    grid-template-rows: auto auto auto 3fr;
    margin:0px;
    padding:0px;
}
#compraya{
background-color:rgb(229, 145, 19);
    color:black;
    border-radius: 10px;
    min-width:fit-content;
    min-height:fit-content;
    max-height: 12px;
}

#cesta{
background-color:rgb(239, 219, 41);
    color:black;
    border-radius: 10px;
    min-width:fit-content;
    min-height:fit-content;
    max-height: 12px;
}

#wishlist{
    background-color:white;
    color:black;
    border-radius: 10px;
    min-width:fit-content;
    min-height:fit-content;
    max-height: 12px;
}

/*Apartat de frequentnly bought together*/
.plus{
    color:gray;
    justify-self:center;
    font-size: 40px;
    font-style: bold;
}

.fotosfbt {
    grid-template-columns: auto 30px auto 30px auto 5fr;
    column-gap:0px;
}

.fbtfotos{
    width: 120px;
    height: 120px;
}

.compradosconjuntamente{

}

/*Divisors separadors com li vulguis dir*/

.custom-divider{
     border: none; /* Remove default border */
          height: 1px; /* Set thickness */
          background-color: blue; /* Set color */
          margin: 10px 0; /* Add some space above and below */
}
.custom-divider-estret{
    border: none; /* Remove default border */
          height: 1px; /* Set thickness */
          background-color: rgb(222, 141, 19); /* Set color */
          margin: 1px 0; /* Add some space above and below */
}

