
body {
    margin: 0%;
    padding: 0;
}

div {
    display: block;
    margin: 1% 1% 1% 1%;
    padding: 0px 0px 0px 0px;
}

.green {
    background-color: green;
    width: 98%;
    height: 400px;
    float:left;
    
}



@media (width < 320px) {
    body {
        background-color: lightblue;
    }

    .green {
    background-color: green;
    width: 98%;
    height: 100px;
    float:left;
    clear:both;
    
}


    .orange {
    background-color: orange;
    height: 100px;
    width: 98%;
    float:left;
}



.blue {
    background-color: blue;
    height: 100px;
    width: 98%;
    float:left;
}


.grey {
    background-color: grey;
    height: 80px;
    width: 98%;
    float:left;
    
}
    
}

/* merda mitja mida */

@media (320px <= width <= 768px) {
    body {
        background-color: lightgrey;
    }

    .orange {
    background-color: orange;
    height: 100px;
    width: 98%;
    
}




.blue {
    background-color: blue;
    height: 70px;
    width: 98%;
    float: left;
}


.grey {
    background-color: grey;
    height: 80px;
    width: 48%;
    display:inline-block;
    float:left;
}

}


 /* gran mida */


@media (width > 768px) {
    body {
        background-color: lightgreen;
    }

    .orange {
    background-color: orange;
    width: 48%;
    height: 100px;
    float:left;  
    
}



.blue {
    background-color: blue;
    height: 100px;
    width: 31.33%;
    float: left;
}


.grey {
    background-color: grey;
    height: 80px;
    width: 23%;
    float: left;
    
}

}
